# ===== NGINX =====
# Exposé sur l'hôte (ex: http://localhost:80 ou http://localhost:8000)
NGINX_PORT=80

# ===== MySQL =====
MYSQL_DATABASE=test
MYSQL_USER=test
MYSQL_PASSWORD=test
MYSQL_ROOT_PASSWORD=root
MYSQL_PORT=3306
MYSQL_VOTING_VOLUME=mysql-CCSOP-volume

SPRING_DATASOURCE_USERNAME=CCSOP
SPRING_DATASOURCE_PASSWORD=CCSOP
SPRING_JPA_HIBERNATE_DDL_AUTO=update